nav {
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
}

nav .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
}

nav i {
  color: #fddeef;
}

nav #logo {
  background: none;
  border: none;
}

nav #logo a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav #logo a img {
  display: none;
}

nav #logo a p {
  color: #fddeef;
  font-size: 2.4rem;
}

nav .navigation-links {
  list-style-type: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 2%;
  background: #2b2b2b;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  -webkit-box-shadow: 0 6px 12px 0 black;
          box-shadow: 0 6px 12px 0 black;
}

nav .navigation-links li {
  cursor: pointer;
  padding: 1rem;
  border: 2px solid #fddeef;
  margin: 1rem;
}

nav .navigation-links a {
  color: #fddeef;
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  min-width: 50%;
}

nav .navigation-links-active {
  -webkit-transform: translateY(85%);
          transform: translateY(85%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #2b2b2b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

.project-technologies {
  margin-bottom: 4rem;
  height: 8rem;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-technologies .image-1 {
  max-height: 100%;
  max-width: 100%;
}

.project-technologies .image-2 {
  max-height: 100%;
  max-width: 100%;
}

.project-technologies .image-3 {
  max-height: 100%;
  max-width: 100%;
}

.project-technologies .image-4 {
  max-height: 100%;
  max-width: 100%;
}

.project-technologies .image-5 {
  max-height: 100%;
  max-width: 100%;
}

.technologies-used-text {
  font-size: 1.4rem;
}

.Project-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
}

.introduction {
  min-height: 60vh;
  background: white;
}

.introduction .introduction-about {
  margin: 3rem 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction .introduction-about .intro-image-container {
  display: none;
}

.introduction .introduction-about h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: #2b2b2b;
}

.introduction .introduction-about h2 {
  font-size: 2rem;
  color: #2b2b2b;
  margin-bottom: 4rem;
}

.introduction .introduction-about button {
  background: none;
  border: 2px solid black;
  padding: 1.4rem 3rem;
  border-radius: 4%;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 auto;
  padding: none;
  border: none;
}

.introduction .introduction-about > * {
  text-align: center;
  margin-bottom: 1rem;
}

.introduction .introduction-about a {
  border: 2px solid black;
  padding: 1.4rem 3rem;
}

.About-Me {
  height: auto;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.About-Me a {
  color: skyblue;
  text-decoration: underline;
}

.About-Me a:hover {
  color: gold;
}

.About-Me h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #2b2b2b;
  color: #fddeef;
  padding: 2rem 0rem 1rem 0rem;
  font-size: 2.6rem;
}

.About-Me .about-me-text-container {
  max-width: 80%;
  height: auto;
  background: rgba(43, 43, 43, 0.9);
  padding: 1rem;
  margin: 2rem;
}

.About-Me .about-me-text-container > * {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.6rem;
}

.About-Me .about-me-text-container p {
  color: #fddeef;
  font-weight: 400;
  line-height: 3rem;
}

.Projects {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: auto;
}

.Projects h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0rem 3rem 0rem;
  font-size: 2.6rem;
  color: #2b2b2b;
}

.Projects .Blogr-Project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2%;
  min-height: 100vh;
  max-width: 90%;
  padding: 2rem;
  margin: auto auto 2rem auto;
  background: #fddeef;
}

.Projects .Blogr-Project h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #2b2b2b;
}

.Projects .Blogr-Project img {
  max-width: 90%;
  margin-bottom: 2rem;
}

.Projects .Blogr-Project p {
  max-width: 90%;
  text-align: center;
  color: rgba(43, 43, 43, 0.9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.Projects .Blogr-Project a {
  background: none;
  border: none;
  border-radius: 4%;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
}

.Projects .Blogr-Project a:hover {
  background: #ffeef2;
}

.Projects .FFXIV-Project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2%;
  min-height: 100vh;
  max-width: 90%;
  padding: 2rem;
  margin: auto auto 2rem auto;
  background: #fddeef;
}

.Projects .FFXIV-Project h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #2b2b2b;
}

.Projects .FFXIV-Project img {
  max-width: 90%;
  margin-bottom: 2rem;
}

.Projects .FFXIV-Project p {
  max-width: 90%;
  text-align: center;
  color: rgba(43, 43, 43, 0.9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.Projects .FFXIV-Project a {
  background: none;
  border: none;
  border-radius: 4%;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
}

.Projects .FFXIV-Project a:hover {
  background: #ffeef2;
}

.Projects .Fylo-Project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2%;
  min-height: 100vh;
  max-width: 90%;
  padding: 2rem;
  margin: auto auto 2rem auto;
  background: #fddeef;
}

.Projects .Fylo-Project h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #2b2b2b;
}

.Projects .Fylo-Project img {
  max-width: 90%;
  margin-bottom: 2rem;
}

.Projects .Fylo-Project p {
  max-width: 90%;
  text-align: center;
  color: rgba(43, 43, 43, 0.9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.Projects .Fylo-Project a {
  background: none;
  border: none;
  border-radius: 4%;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
}

.Projects .Fylo-Project a:hover {
  background: #ffeef2;
}

.Projects .Pexels-Project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2%;
  min-height: 100vh;
  max-width: 90%;
  padding: 2rem;
  margin: auto auto 2rem auto;
  background: #fddeef;
}

.Projects .Pexels-Project h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #2b2b2b;
}

.Projects .Pexels-Project img {
  max-width: 90%;
  margin-bottom: 2rem;
}

.Projects .Pexels-Project p {
  max-width: 90%;
  text-align: center;
  color: rgba(43, 43, 43, 0.9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.Projects .Pexels-Project a {
  background: none;
  border: none;
  border-radius: 4%;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
}

.Projects .Pexels-Project a:hover {
  background: #ffeef2;
}

.Contact {
  height: auto;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Contact .Contact-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2%;
  min-height: 100vh;
  max-width: 90%;
  padding: 2rem;
  margin: auto auto 2rem auto;
  background: #fddeef;
  min-height: unset;
  background: rgba(43, 43, 43, 0.9);
  position: relative;
  padding: 0;
}

.Contact .Contact-content .contact-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.Contact .Contact-content .contact-message p {
  font-size: 2rem;
}

.Contact h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #2b2b2b;
  color: #fddeef;
  padding: 2rem 0rem 3rem 0rem;
  font-size: 2.6rem;
}

.Contact p {
  max-width: 90%;
  text-align: center;
  color: rgba(43, 43, 43, 0.9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: #fddeef;
  padding: 0;
  margin: 0;
}

.Contact .email-link {
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 100%;
  padding: 1.4rem 0rem 1rem 0rem;
}

.Contact .email-link p {
  margin: 0;
  font-size: 1.4rem;
}

.Contact .email-link a {
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  color: #fddeef;
}

@media screen and (min-width: 500px) {
  .introduction {
    min-height: 35vh;
  }
}

@media screen and (min-width: 1080px) {
  #burger-button {
    display: none;
  }
  nav {
    padding: 0;
  }
  nav .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 90%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-content #logo a p {
    font-size: 3rem;
  }
  nav .nav-content .navigation-links {
    all: initial;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-content .navigation-links a {
    all: initial;
    padding: 2rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav .nav-content .navigation-links a:hover {
    background: #5c5c5c;
    border-radius: 8%;
  }
  nav .nav-content .navigation-links a li {
    all: initial;
    border: none;
    color: #fddeef;
    font-size: 3rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  .introduction .introduction-about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 35vh;
    max-width: 90%;
    margin: 8rem auto;
  }
  .introduction .introduction-about .intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 3rem;
    padding: 0;
  }
  .introduction .introduction-about .intro-text h1 {
    white-space: nowrap;
    font-size: 8rem;
  }
  .introduction .introduction-about .intro-text h2 {
    margin-top: 2.5rem;
    font-size: 4rem;
  }
  .introduction .introduction-about .intro-text button {
    margin: 2.5rem auto 0 0;
    padding: 0;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
  .introduction .introduction-about .intro-text button a {
    border: 4px solid black;
    font-size: 3rem;
    padding: 2.8rem 6rem;
  }
  .introduction .introduction-about .intro-text button a:hover {
    background: #fddeef;
  }
  .introduction .introduction-about .intro-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-filter: drop-shadow(0 0 0.5rem black);
            filter: drop-shadow(0 0 0.5rem black);
  }
  .introduction .introduction-about .intro-image-container img {
    border-radius: 5%;
    max-width: 100%;
  }
  .About-Me h3 {
    font-size: 4rem;
  }
  .About-Me .about-me-text-container {
    width: 90rem;
  }
  .About-Me .about-me-text-container p {
    text-align: left;
    font-size: 2rem;
  }
  .Projects {
    display: block;
    min-height: 80vh;
    background: #ffeef2;
  }
  .Projects h2 {
    font-size: 4rem;
  }
  .Projects .Projects-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    row-gap: 6rem;
    padding-bottom: 5rem;
    max-width: 100%;
    margin: 0 auto;
    justify-items: center;
  }
  .Projects .Projects-container .Blogr-Project {
    width: 50rem;
    height: auto;
    margin: 0;
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Projects .Projects-container .Blogr-Project h3 {
    margin: 0;
    padding: 0;
  }
  .Projects .Projects-container .Blogr-Project p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 2rem;
  }
  .Projects .Projects-container .Blogr-Project img {
    margin: 0;
    padding: 0;
  }
  .Projects .Projects-container .Blogr-Project .Project-btns a {
    background: none;
    border: none;
    border-radius: 4%;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 2rem;
  }
  .Projects .Projects-container .Blogr-Project .Project-btns a:hover {
    background: #ffeef2;
  }
  .Projects .Projects-container .FFXIV-Project {
    margin: auto;
    width: 50rem;
    height: auto;
    margin: 0;
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Projects .Projects-container .FFXIV-Project h3 {
    margin: 0;
    padding: 0;
  }
  .Projects .Projects-container .FFXIV-Project p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: left;
  }
  .Projects .Projects-container .FFXIV-Project img {
    padding: 0;
    margin: 0;
  }
  .Projects .Projects-container .FFXIV-Project .Project-btns a {
    background: none;
    border: none;
    border-radius: 4%;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 2rem;
  }
  .Projects .Projects-container .FFXIV-Project .Project-btns a:hover {
    background: #ffeef2;
  }
  .Projects .Projects-container .Fylo-Project {
    margin: auto;
    width: 50rem;
    height: auto;
    margin: 0;
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Projects .Projects-container .Fylo-Project h3 {
    margin: 0;
    padding: 0;
  }
  .Projects .Projects-container .Fylo-Project p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: left;
  }
  .Projects .Projects-container .Fylo-Project img {
    padding: 0;
    margin: 0;
  }
  .Projects .Projects-container .Fylo-Project .Project-btns a {
    background: none;
    border: none;
    border-radius: 4%;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 2rem;
  }
  .Projects .Projects-container .Fylo-Project .Project-btns a:hover {
    background: #ffeef2;
  }
  .Projects .Projects-container .Pexels-Project {
    margin: auto;
    width: 50rem;
    height: auto;
    margin: 0;
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Projects .Projects-container .Pexels-Project h3 {
    margin: 0;
    padding: 0;
  }
  .Projects .Projects-container .Pexels-Project p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: left;
  }
  .Projects .Projects-container .Pexels-Project img {
    padding: 0;
    margin: 0;
  }
  .Projects .Projects-container .Pexels-Project .Project-btns a {
    background: none;
    border: none;
    border-radius: 4%;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 2rem;
  }
  .Projects .Projects-container .Pexels-Project .Project-btns a:hover {
    background: #ffeef2;
  }
  .Contact h3 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1600px) {
  .introduction .introduction-about {
    min-height: 35vh;
  }
  .introduction .introduction-about .intro-image-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .introduction .introduction-about .intro-image-container img {
    max-width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */